.background {
	height: 100vh;
	background-image: url("HERO.jpg");
	padding: 0;
}
.navigation {
	height: 20%;
	background-color: rgba(0, 0, 0, 0.441);
}
.Punchlinebox {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.elementsNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.logo {
	font-weight: bolder;
	color: white;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link {
	margin: 5px;
	color: white;
	text-transform: uppercase;
	font-size: 1.6rem;
	text-decoration: none;
	padding: 4px;
	font-weight: bolder;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.blueborder {
	border: solid 2px aqua;
}
.eblue {
	color: aqua;
}
.punchline {
	color: white;
	background-color: rgba(0, 0, 0, 0.441);
	font-size: 3rem;
	padding: 4px;
	margin-top: 4px;
}
.Services{
    background-color: #4BCAFF;
    height: 35%;
}